*{
    margin:0;
    padding: 0;
}
body{
    font-family: Roboto, sans-serif;
}

a{
    text-decoration: none;
}
.header-menu{
    text-align: center;
}

.menu-item{
    display: inline-block;
    list-style: none;
    color:#159f85;
    margin-bottom: 35px;
    margin-top: 32px;
    padding: 0px 35px;
}

.menu-top-value{
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    color: #159f85;
    font-weight: bold;
}

.main{
    text-align: center;
    background: #f5f6f8;
    padding-bottom: 94px;
}
.img-size{
    width: 100%;
}
.block{
    padding: 0px 108px 0px 113px;
}
.main-title{
    color: rgb(55,55,55);
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    margin: 59px 0px 34px;
}

.main-text{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 26px;
    color: rgb(55,55,55);
    padding-bottom: 20px;
    font-weight: bold;
}

.btn-start{
    display:inline-block;
    font-family: GothamRounded,sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 44px;
    border-radius: 4px;
    letter-spacing: 3px;
    background-color: #159f85;
    text-transform: uppercase;
}


.footer-block{
    padding: 46px 104px 45px 0px;
}
.footer-text{
    font-size: 16px;
    font-weight: bold;
    color:  #373737;
    letter-spacing: 2px;
    text-align: right;
}